body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

/* Hero styles */
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.hero img {
    width: 300px;
}

/* About styles */
.about {
    padding: 50px;
    text-align: center;
}

.about h2 {
    font-size: 32px;
}

.about p {
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}

.skills {
    padding: 50px;
    text-align: center;
}

.skills article {
    margin: 30px auto;
}

.skills ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skills li {
    padding: 8px 15px;
}

/*Projects styles*/
.projects {
    padding: 50px;
    text-align: center;
}

.project-card {
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
}

/* Contact styles*/
.contact {
    padding: 50px;
    text-align: center;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    margin: 15px;
}